body{
  background: url('Hack11.jpg');
      background-size: 100% auto;
      background-repeat:no-repeat;
      background-color:black;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 10px auto;
}
}
h1{
  color: white;
  font-family: "Open Sans",sans-serif;
  text-align: center;
  margin-bottom:70px;
}
h2{
  color: red;
  font-family: "Open Sans",sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
p{
  color: maroon;
  text-align: center;
}
.button {
    background-color:green;
    color:yellow;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
    position: Absolute;
  
    }
.button1 {
background-color:Aqua;
    color:red;
    padding:10px 20px;
    border-size:2px;
    border-color:green;
    border-radius:30px;
    cursor:pointer;
    text-decoration:none;
    bottom:60%
}
.button2 {
    background-color:green;
    color:yellow;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
     position:absolute;
    bottom:55%;
    transform: translate(-50%,-50%);
}
.button3  {
    background-color:green;
    color:yellow;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
     position:absolute;
    bottom:50%;
 }
 .button4  {
    background-color:green;
    color:yellow;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
     position:absolute;
    bottom:45%;
    }
























