/* Default styles for laptop/desktop screens */
body {
  font-size: 16px;
  width: 80%;
  margin: 40px auto;
}

/* Styles for mobile screens (max-width: 768px) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: 20px auto;
  }
}

/* Styles for smaller mobile screens (max-width: 480px) */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 10px auto;
  }
}

h1{
  color: white;
  font-family: "Open Sans",sans-serif;
  text-align: center;
  margin-bottom:70px;
}
h2{
  color: white;
  font-family: "Open Sans",sans-serif;
  text-align: center;
}
p{
  color: aqua;
  text-align: center;
}
.button {
    background-color:aqua;
    color:red;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
    margin-bottom:70px;
    }
.button1 {
background-color:Aqua;
    color:red;
    padding:10px 20px;
    border-size:2px;
    border-color:green;
    border-radius:30px;
    cursor:pointer;
    text-decoration:none;
}
.button2 {
    background-color:aqua;
    color:red;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
    bottom:50%;
}
.button3  {
    background-color:aqua;
    color:red;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
    bottom:30%;
 }
 .button4  {
    background-color:aqua;
    color:red;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
    bottom:10%;
    }
   .button5  {
    background-color:aqua;
    color:red;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
    position:center;
    bottom:80%;
    margin-bottom:20px;
    }
   .button6 {
    background-color:aqua;
    color:red;
    padding:10px 20px;
    border:green;
    border-radius:5px;
    cursor:pointer;
    text-decoration:none;
    position: center;
    bottom:70%;
    margin-bottom:20px;
    }
























